:root {
  --primary-color: #F0F0F3;
  --secondary-color: #4a6b6b;
  --light-color: white;
  --dark-color: #aaaaaa;
  --user-mensage-color:#a8eed7;

  --accent-color: #7fffd4;
  --letras:#808B9F;
  --font-family: Arial, sans-serif;
  --sidebar-width: 200px;
  --padding: 20px;
  --border-radius: 10px;
  --chatbox-padding: 10px;
  --message-padding: 10px;
  --message-border-radius: 20px;
  --input-padding: 10px;
  --button-size: 40px;
  --user-info-top: 40px;
  --user-info-right: 40px;
  --footer-padding: 10px;
}
*{
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--primary-color);
  color: var(--letras);
  padding: var(--padding);
  box-shadow: inset -1px -1px 30px var(--dark-color);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  padding: 4px;
  border-radius: 10px;
  color: var(--letras);
  background-color: var(--primary-color);
  box-shadow: -10px -10px 30px var(--light-color), 10px 10px 30px  var(--dark-color);
  transition: box-shadow 1.3s ease;
  cursor: pointer;
  }

.sidebar li:hover {
  box-shadow: 10px 10px 30px var(--dark-color), -10px -10px 30px var(--light-color) ;
  
}

.sidebar a {
  text-decoration: none;
  color: var(--letras);
  background-color: #7fffd4;
}

.main-content {
  flex-grow: 1;
  background-color: var(--primary-color);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--padding);
}

.logo {
  width: 60px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: inset -10px -10px 20px var(--dark-color), 10px 10px 20px var(--dark-color);
  text-align: center;
}
.logo img {
  width: 50px;
  height: auto;
}

.description {
  color: var(--white);
  font-size: 18px;
}

#chatbox {
  margin-bottom: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--chatbox-padding);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  box-shadow: inset -1px -1px 30px  var(--dark-color);
}

.user-message, .ai-message {
  max-width: 70%;
  padding: var(--message-padding);
  margin-bottom: 10px;
  border-radius: var(--message-border-radius);
}

.user-message {
  align-self: flex-end;
  width: auto;
  height: auto  ;
  background-color:var(--user-mensage-color);
  box-shadow: 10px 10px 30px var(--dark-color);
}

.ai-message {
  align-self: flex-start;
  background-color: var(--white);
  box-shadow: 10px 10px 30px var(--dark-color);
}

.input-container {
  display: flex;
  margin-top: var(--padding);
}

#userInput {
  flex-grow: 1;
  padding: var(--input-padding);
  border: none;
  border-radius: var(--message-border-radius);
  color: var(black);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#sendButton {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: var(--button-size);
  height: var(--button-size);
  margin-left: 10px;
  cursor: pointer;
  box-shadow: inset -10px -10px 30px #324646, 10px 10px 15px #324646 ;
}

#sendButton:hover {
  animation: pulse 1s infinite;
}

.user-info {
  position: absolute;
  top: var(--user-info-top);
  right: var(--user-info-right);
  color: var(--white);
  text-align: right;
  cursor: pointer;
  
}
.user-info  i {
  font-size: 1.8rem;
}

/**/
.loading-animation {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}
